body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:1128px;
  background:-webkit-linear-gradient(320deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(130deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(130deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1257px;
  height:1128px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:1020px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(51, 0, 255, 1) 86%, rgba(51, 0, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(51, 0, 255, 1) 86%, rgba(51, 0, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(51, 0, 255, 1) 86%, rgba(51, 0, 255, 1) 100%);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:54px;
  width:590px;
  height:1020px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bluebell';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:267px;
  width:261px;
  height:132px;
  font-family:'Bluebell';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:324px;
  width:17px;
  height:17px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:942px;
  width:168px;
  height:52px;
  font-size:18px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:164px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:174px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:93px;
  width:223px;
  height:174px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:409px;
  width:302px;
  height:32px;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:451px;
  width:412px;
  height:44px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:505px;
  width:255px;
  height:32px;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:542px;
  width:412px;
  height:44px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:612px;
  width:229px;
  height:32px;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:654px;
  width:105px;
  height:44px;
}
#u159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:654px;
  width:105px;
  height:44px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:654px;
  width:105px;
  height:44px;
}
#u161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:724px;
  width:265px;
  height:32px;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:766px;
  width:105px;
  height:44px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:766px;
  width:297px;
  height:44px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:832px;
  width:280px;
  height:32px;
  font-family:'Batang';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:874px;
  width:105px;
  height:44px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:874px;
  width:105px;
  height:44px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:874px;
  width:105px;
  height:44px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:874px;
  width:105px;
  height:44px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1004px;
  width:48px;
  height:50px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
